[submodule "net/asterisk-sounds-cs"]
	path = net/asterisk-sounds-cs
	url = git@github.com:misak0007/asterisk-sounds-cs.git
[submodule "net/asterisk-sounds-digium"]
	path = net/asterisk-sounds-digium
	url = git@github.com:misak0007/asterisk-sounds-digium.git
