[submodule "net/asterisk-sounds-cs"]
	path = net/asterisk-sounds-cs
	url = git@github.com:misak0007/asterisk-sounds-cs.git
[submodule "net/asterisk-sounds-digium"]
	path = net/asterisk-sounds-digium
	url = git@github.com:misak0007/asterisk-sounds-digium.git
[submodule "applications/luci-app-temp-status"]
	path = applications/luci-app-temp-status
	url = git@github.com:gSpotx2f/luci-app-temp-status.git
